<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<title>review site</title>
</head>
<body>
	<h1>Animal Calendar Reviews</h1>
	<p>Welcome to the animal calendar review website voted <strong>#1</strong> in all of Northeast Ohio</p>
	<p>Currently, the <strong>TOP 4</strong>rated calendars on thie <strong>#1</strong> rated site include the following:

<div class ="images">
<h3>Maine Coon Madness</h3>
<img src="mainecoon.jpg" alt="Maine Coon Cat">

<h3>Dogs in Costumes</h3>
<img src="dogscostume.jpg" alt="Costumed Dogs">

<h3>Ferrets as Mythical Creatures</h3>
<img src="ferrets.jpg" alt="Ferrets">

<h3>Maine Coon Madness</h3>
<img src="alpacas.jpg" alt="Alpaca Portraits">
</div>



	<div th:each="review: ${reviews}">
		<li>
		<a th:href="@{/review(id=${review.id})}" th:text="${review.calendarName}"></a>
		</li>
	</div>
</body>
</html>